{% extends 'base.html.twig' %}

{% block title %}Gestion de planning{% endblock %}

{% form_theme matiereForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div id="containerAdmin">
        <!-- form Matiere -->
        <div id="formAdmin">
            <h2>Ajouter une Matière</h2>
            <div class="containerAdmin">

                {{ form_start(matiereForm) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(matiereForm) }}
                </div>
                <div class="formulairesButton">
                    <select name="intervenant">
                        {% for inter in inters %}
                            <option value="{{ inter.id }}">{{ inter.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                {{ form_row(matiereForm.intitule) }}
                {{ form_row(matiereForm.duree) }}
                <div class="formulairesButton">
                    {{ form_row(matiereForm.isSpecialite) }}
                </div>

                <div class="formulairesButton">
                    <button type="submit" name="matiere" class="btn btn-primary"
                            onclick="return confirm('Vous êtes sur ?')">Créer
                    </button>
                </div>
                {{ form_end(matiereForm) }}
            </div>
        </div>
        <div id="formAdmin">
            <h2>Liste des Matières</h2>
            {% for matiere in matieres %}
                <div class="containerAdmin">
                    <div>Formateur: <b>{{ matiere.getFkIntervenant().getNom() }}</b></div>
                    <div>Intitulé: <b>{{ matiere.intitule }}</b></div>
                    <div>Durée: <b>{{ matiere.duree }}</b></div>
                    <div>Spécialité: <b>{{ matiere.isSpecialite }}</b></div>
                    <div class="deleteAdmin"><a href="/delete_matiere/{{ matiere.id }}"
                                                style="text-align: right;width: 100%;">
                            <i class="material-icons deleteIcon" onclick="return confirm('Vous êtes sur ?')">
                                delete_forever
                            </i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                crossorigin="anonymous"></script>
        <script>
            $('.dropdown-toggle').dropdown();
        </script>
    {% endblock %}
{% endblock %}