{% extends 'base.html.twig' %}

{% block title %}Gestion de planning{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}" xmlns="http://www.w3.org/1999/html">
    {% endblock %}

{% form_theme coursForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="containerForm">
        <!-- form Cour -->
        <div id="formAdmin">
            <h2>Ajouter un Cours</h2>
            <div class="containerAdmin">
                {{ form_start(coursForm) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(coursForm) }}
                </div>
                <div class="flexible">
                    <div class="flexible">
                        <h4>Intervenant &nbsp;</h4>
                        <select name="intervenant">
                            {% for inter in inters %}
                                <option value="{{ inter.id }}">{{ inter.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="flexible">
                        <h4>Matière &nbsp;</h4>
                        <select name="matiere">
                            {% for matiere in matieres %}
                                <option value="{{ matiere.id }}">{{ matiere.intitule }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="formulaires">{{ form_row(coursForm.debut) }}</div>
                <div class="formulaires">{{ form_row(coursForm.fin) }}</div>
                <div class="formulairesButton">
                    <button type="submit" name="cour" value="addCour" class="btn btn-primary"
                            onclick="return confirm('Vous êtes sur ?')">
                        Créer
                    </button>
                </div>
                {{ form_end(coursForm) }}
            </div>
        </div>
        <div id="formAdmin">
            <h2 class="titleAdmin">Liste de mes disponibilités</h2>
            {% if nb > 0 %}
                {% for i in 0..nb-1 %}
                    <div class="containerAdmin">
                        Du {{ arraydate[2*i] }} au {{ arraydate[2*i+1] }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                crossorigin="anonymous"></script>
        <script>
            $('.dropdown-toggle').dropdown();
        </script>
    {% endblock %}
{% endblock %}