{% extends 'base.html.twig' %}

{% block title %}Planning Mois{% endblock %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        html {
            font-family: sans-serif;
        }
        table {
            border-collapse: collapse;
            letter-spacing: 1px;
            font-size: 0.8rem;
            background: white;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }
        td, th {
            padding: 10px 20px;
        }
        td {
            text-align: center;
        }
        caption {
            padding: 10px;
        }

    </style>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Suppression du cours</h4>
                </div>
                <div class="modal-body">
                    <span id="modal-myvalue"></span> <span id="modal-myvar"></span> <span id="modal-bb"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" onclick="document.location.href='/deleteMonth/'+document.getElementById('modal-myvalue').textContent">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    <div id="corps">
        <div id="containerNavCalendar">

            <button class="buttonNav arrowNav" onclick="document.location.href='/month/{{ noann }}/{{ nomon - 1}}';">
                <i class="material-icons">
                    undo
                </i>
                <div>
                    &nbsp;Précédent
                </div>
            </button>
            <div id="choice">
                <nav class="nav nav-pills nav-fill">
                    <a class="nav-item nav-link" onclick="document.location.href='/week/'">Semaine</a>
                    <a class="nav-item nav-link active" onclick="document.location.href='/month/'">Mois</a>
                    <a class="nav-item nav-link" onclick="document.location.href='/year/'">Année</a>
                </nav>
            </div>

            <button class="buttonNav arrowNav" onclick="document.location.href='/month/{{ noann }}/{{ nomon + 1}}';">
                <div>
                    Suivant &nbsp;
                </div>
                <i class="material-icons">
                    redo
                </i>
            </button>
        </div>

        <div id="containerNavCalendar">
            <button class="months grey" onclick="document.location.href='/month/{{ noann - 1 }}/12';">Decembre</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/1';">Janvier</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/2';">Février</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/3';">Mars</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/4';">Avril</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/5';">Mai</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/6';">Juin</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/7';">Juillet</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/8';">Aout</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/9';">Septembre</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/10';">Octobre</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/11';">Novembre</button>
            <button class="months" onclick="document.location.href='/month/{{ noann }}/12';">Decembre</button>
            <button class="months grey" onclick="document.location.href='/month/{{ noann + 1 }}/1';">Janvier</button>
        </div>


        <table class="table">
            <tr class="hourColumn">
                <th>{{ noann }}</th>
                <td class="hour">
                    <div>{{ tabJours[0][0][0] }}</div>
                </td>
                <td class="hour">
                    <div>{{ tabJours[1][0][0]}}</div>
                </td>
                <td class="hour">
                    <div>{{ tabJours[2][0][0]}}</div>
                </td>
                <td class="hour">
                    <div>{{ tabJours[3][0][0]}}</div>
                </td>
                <td class="hour">
                    <div>{{ tabJours[4][0][0]}}</div>
                </td>
            </tr>

            <tr class="column1">
                <th>Lundi</th>
                <td>
                    <div class="TopMonth">{{ tabJours[0][1][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[0][1][1]}}
                        {% if tabJours[0][1][1] != " " %}
                            {%  if  tabJours[0][1][1] =="E" %}
                            <i class="material-icons">
                                business
                            </i>
                            {%  else %}
                            <i class="material-icons">
                                school
                            </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[0][1][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[0][1][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[1][1][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[1][1][1]}}
                        {% if tabJours[1][1][1] != " " %}
                            {%  if  tabJours[0][1][1] == "E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[1][1][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[1][1][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[2][1][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[2][1][1]}}
                        {% if tabJours[2][1][1] != " " %}
                            {%  if  tabJours[2][1][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[2][1][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[2][1][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[3][1][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[3][1][1]}}
                        {% if tabJours[3][1][1] != " " %}
                            {%  if  tabJours[3][1][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[3][1][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[3][1][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[4][1][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[4][1][1]}}
                        {% if tabJours[4][1][1] != " " %}
                            {%  if  tabJours[4][1][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[4][1][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[4][1][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>

            <tr class="column2">
                <th>Mardi</th>
                <td>
                    <div class="TopMonth">{{ tabJours[0][2][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[0][2][1]}}
                        {% if tabJours[0][2][1] != " " %}
                            {%  if  tabJours[0][2][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[0][2][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[0][2][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[1][2][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[1][2][1]}}
                        {% if tabJours[1][2][1] != " " %}
                            {%  if  tabJours[1][2][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[1][2][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[1][2][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[2][2][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[2][2][1]}}
                        {% if tabJours[2][2][1] != " " %}
                            {%  if  tabJours[2][2][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[2][2][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[2][2][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[3][2][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[3][2][1]}}
                        {% if tabJours[3][2][1] != " " %}
                            {%  if  tabJours[3][2][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[3][2][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[3][2][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[4][2][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[4][2][1]}}
                        {% if tabJours[4][2][1] != " " %}
                            {%  if  tabJours[4][2][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[4][2][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[4][2][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>

            <tr class="column1">
                <th>Mercredi</th>
                <td>
                    <div class="TopMonth">{{ tabJours[0][3][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[0][3][1]}}
                        {% if tabJours[0][3][1] != " " %}
                            {%  if  tabJours[0][3][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[0][3][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[0][3][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[1][3][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[1][3][1]}}
                        {% if tabJours[1][3][1] != " " %}
                            {%  if  tabJours[1][3][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[0][3][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[0][3][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[2][3][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[1][3][1]}}
                        {% if tabJours[1][3][1] != " " %}
                            {%  if  tabJours[1][3][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[1][3][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[1][3][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[3][3][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[3][3][1]}}
                        {% if tabJours[3][3][1] != " " %}
                            {%  if  tabJours[3][3][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[2][3][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[2][3][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[4][3][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[4][3][1]}}
                        {% if tabJours[4][3][1] != " " %}
                            {%  if  tabJours[4][3][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[4][3][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[4][3][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>

            <tr class="column2">
                <th>Jeudi</th>
                <td>
                    <div class="TopMonth">{{ tabJours[0][4][0]}}</div>
                    <div class="monthDays">
                        {{tabJours[0][4][1]}}
                        {% if tabJours[0][4][1] != " " %}
                            {%  if  tabJours[0][4][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[0][4][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[0][4][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[1][4][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[1][4][1]}}
                        {% if tabJours[1][4][1] != " " %}
                            {%  if  tabJours[1][4][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[1][4][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[1][4][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[2][4][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[2][4][1]}}
                        {% if tabJours[2][4][1] != " " %}
                            {%  if  tabJours[2][4][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[2][4][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[2][4][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[3][4][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[3][4][1]}}
                        {% if tabJours[3][4][1] != " " %}
                            {%  if  tabJours[3][4][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[3][4][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[3][4][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[4][4][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[4][4][1]}}
                        {% if tabJours[4][4][1] != " " %}
                            {%  if  tabJours[4][4][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[4][4][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[4][4][0] }} ">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>

            <tr class="column1">
                <th>Vendredi</th>
                <td>
                    <div class="TopMonth">{{ tabJours[0][5][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[0][5][1]}}
                        {% if tabJours[0][5][1] != " " %}
                            {%  if  tabJours[0][5][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[0][5][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[0][5][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[1][5][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[1][5][1]}}
                        {% if tabJours[1][5][1] != " " %}
                            {%  if  tabJours[1][5][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[1][5][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[1][5][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[2][5][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[2][5][1]}}
                        {% if tabJours[2][5][1] != " " %}
                            {%  if  tabJours[2][5][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[2][5][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[2][5][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[3][5][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[3][5][1]}}
                        {% if tabJours[3][5][1] != " " %}
                            {%  if  tabJours[3][5][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[3][5][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[3][5][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="TopMonth">{{ tabJours[4][5][0] }}</div>
                    <div class="monthDays">
                        {{tabJours[4][5][1]}}
                        {% if tabJours[4][5][1] != " " %}
                            {%  if  tabJours[4][5][1] =="E" %}
                                <i class="material-icons">
                                    business
                                </i>
                            {%  else %}
                                <i class="material-icons">
                                    school
                                </i>
                            {%  endif %}
                        {% endif %}
                        {% if tabJours[4][5][1] != " "%}
                            <button class="red" type="button" data-toggle="modal" data-target="#myModal"
                                    data-myvalue="{{ tabJours[4][5][0] }}">
                                <i class="material-icons" style="color: white; font-size: 19px">
                                    delete_forever
                                </i>
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <script>
        var att = ['myvalue'];

        $('[data-toggle="modal"]').on('click', function (e) {
            var $target = $(e.target);
            var modalSelector = $target.data('target');

            att.forEach(function (attributeName) {
                var $modalAttribute = $(modalSelector + ' #modal-' + attributeName);
                var dataValue = $target.data(attributeName);
                $modalAttribute.text(dataValue || '');
            });
        });
    </script>
{% endblock %}
