{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    html {
        font-family: sans-serif;
    }
    table {
        border-collapse: collapse;
        letter-spacing: 1px;
        font-size: 0.8rem;
        background: white;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    td, th {
        padding: 10px 20px;
    }
    td {
        text-align: center;
    }
    caption {
        padding: 10px;
    }

</style>

<div id="corps">
    <div id="containerNavCalendar">

        <button class="buttonNav arrowNav" onclick="document.location.href='/week/{{ noAnn }}/{{ noSem - 1}}';">
            <i class="material-icons">
                undo
            </i>
            <div>
                &nbsp;Précédent
            </div>
        </button>
        <div id="choice">
            <button class="buttonNav" onclick="document.location.href='/week/'">Semaine</button>
            <button class="buttonNav">Mois</button>
            <button class="buttonNav">Année</button>
        </div>

        <button class="buttonNav arrowNav" onclick="document.location.href='/week/{{ noAnn }}/{{ noSem + 1}}';">
            <div>
                Suivant &nbsp;
            </div>
            <i class="material-icons">
                redo
            </i>
        </button>
    </div>


    <table class="table">
        <tr class="hourColumn">
            <th>&nbsp;</th>
            <td class="hour">
                <div>9h - 10h</div>
            </td>
            <td class="hour">
                <div>10h - 11h</div>
            </td>
            <td class="hour">
                <div>11h - 12h</div>
            </td>
            <td class="hour">
                <div>12h - 13h</div>
            </td>
            <td class="hour">
                <div>13h - 14h</div>
            </td>
            <td class="hour">
                <div>14h - 15h</div>
            </td>
            <td class="hour">
                <div>15h - 16h</div>
            </td>
            <td class="hour">
                <div>16h - 17h</div>
            </td>
            <td class="hour">
                <div>17h - 18h</div>
            </td>
        </tr>
        <tr class="column1">
            <th>{{tab[0][0] ~ " " ~ tab[0][1] ~ " " ~ tab[0][2]}}</th>
            <td>
                <div class="down">
                    Base de Données
                </div>
                <div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>
            </td>
            <td>
                <div class="down">
                    Base de Données
                </div>
                <div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>
            </td>
            <td>
                <div class="down">
                    Gestion de Projet
                </div>
                <div class="up">
                    <div class="professor">
                        Belkacem
                    </div>
                    <div class="salle">
                        E122
                    </div>
                </div>
            </td>
            <td>
                <div class="down">
                    Gestion de Projet
                </div>
                <div class="up">
                    <div class="professor">
                        Belkacem
                    </div>
                    <div class="salle">
                        E122
                    </div>
                </div>
            </td>
            <td></td>
            <td></td>
            <td>BDD</td>
            <td>BDD</td>
            <td>English</td>
        </tr>

        <tr class="column2">
            <th>{{tab[1][0]~ " " ~ tab[1][1] ~ " " ~ tab[1][2]}}</th>
            <td>JAVA</td>
            <td>JAVA</td>
            <td>BDD</td>
            <td>12h</td>
            <td>13h</td>
            <td>English</td>
            <td>English</td>
            <td>I.T</td>
            <td>I.T</td>
        </tr>

        <tr class="column1">
            <th>{{tab[2][0]~ " " ~ tab[2][1] ~ " " ~ tab[2][2]}}</th>
            <td>JAVA</td>
            <td>English</td>
            <td>English</td>
            <td>12h</td>
            <td>13h</td>
            <td>C#</td>
            <td>BDD</td>
            <td>I.T</td>
            <td>I.T</td>
        </tr>

        <tr class="column2">
            <th>{{tab[3][0]~ " " ~ tab[3][1] ~ " " ~ tab[3][2]}}</th>
            <td>I.T</td>
            <td>English</td>
            <td>C#</td>
            <td>12h</td>
            <td>13h</td>
            <td>JAVA</td>
            <td>JAVA</td>
            <td>I.T</td>
            <td>English</td>
        </tr>

        <tr class="column1">
            <th>{{tab[4][0]~ " " ~ tab[4][1] ~ " " ~ tab[4][2]}}</th>
            <td>I.T</td>
            <td>I.T</td>
            <td>I.T</td>
            <td>12h</td>
            <td>C#</td>
            <td>C#</td>
            <td>BDD</td>
            <td>JAVA</td>
            <td>JAVA</td>
        </tr>

    </table>
</div>
{% endblock %}
