{% extends 'base.html.twig' %}

{% block title %}Planning semaine{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    html {
        font-family: sans-serif;
    }
    table {
        border-collapse: collapse;
        letter-spacing: 1px;
        font-size: 0.8rem;
        background: white;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    td, th {
        padding: 10px 20px;
    }
    td {
        text-align: center;
    }
    caption {
        padding: 10px;
    }

</style>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Suppression du cours</h4>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous supprimer ce cours ?</p>
                    <span id="modal-myvalue" style="color: #fff; font-size: 0px"></span> <span id="modal-myvar"></span> <span id="modal-bb"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" onclick="document.location.href='/deleteWeek/'+ document.getElementById('modal-myvalue').textContent;">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

<div id="corps">
    <div id="containerNavCalendar">

        <button class="buttonNav arrowNav" onclick="document.location.href='/week/{{ noAnn }}/{{ noSem - 1}}';">
            <i class="material-icons">
                undo
            </i>
            <div>
                &nbsp;Précédent
            </div>
        </button>
        <div id="choice">
            <nav class="nav nav-pills nav-fill">
                <a class="nav-item nav-link active" onclick="document.location.href='/week/'">Semaine</a>
                <a class="nav-item nav-link" onclick="document.location.href='/month/'">Mois</a>
                <a class="nav-item nav-link" onclick="document.location.href='/year/'">Année</a>
            </nav>
        </div>

        <button class="buttonNav arrowNav" onclick="document.location.href='/week/{{ noAnn }}/{{ noSem + 1}}';">
            <div>
                Suivant &nbsp;
            </div>
            <i class="material-icons">
                redo
            </i>
        </button>
    </div>

    <div id="containerNavCalendar">
        <div class="months">Janvier</div><div class="months">Février</div><div class="months">Mars</div>
        <div class="months">Avril</div><div class="months">Mai</div><div class="months">Juin</div>
        <div class="months">Juillet</div><div class="months">Aout</div><div class="months">Septembre</div>
        <div class="months">Octobre</div><div class="months">Novembre</div><div class="months">Decembre</div>
        <div class="months grey">Janvier</div>
    </div>
    <div id="containerNavCalendar">
        {% for i in 1..52 %}
            {% if i == noSem %}
                <button class="weeks" onclick="document.location.href='/week/{{ noAnn }}/{{ i }}';"><b>{{ i }}</b></button>
            {% else %}
                <button class="weeks" onclick="document.location.href='/week/{{ noAnn }}/{{ i }}';">{{ i }}</button>
            {% endif %}
        {% endfor %}
        {% for i in 1..4 %}
            <button class="weeks" onclick="document.location.href='/week/{{ noAnn + 1 }}/{{ i }}';">{{ i }}</button>
        {% endfor %}
    </div>

    <table class="table">
        <tr class="hourColumn">
            <th>{{noAnn}}</th>
            <td class="hour">
                <div>9h - 10h</div>
            </td>
            <td class="hour">
                <div>10h - 11h</div>
            </td>
            <td class="hour">
                <div>11h - 12h</div>
            </td>
            <td class="hour">
                <div>12h - 13h</div>
            </td>
            <td class="hour">
                <div>13h - 14h</div>
            </td>
            <td class="hour">
                <div>14h - 15h</div>
            </td>
            <td class="hour">
                <div>15h - 16h</div>
            </td>
            <td class="hour">
                <div>16h - 17h</div>
            </td>
            <td class="hour">
                <div>17h - 18h</div>
            </td>
        </tr>
        <tr class="column1">
            <th>{{tab[0][0] ~ " " ~ tab[0][1] ~ " " ~ tab[0][2]}}</th>
            <td>
                <div class="down">
                    {{cours[0][0]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[0][0]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[0][1]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[0][1] ~ ";" ~ tab[0][2] ~ ";" ~  noAnn}};10;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[0][1]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[0][1]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>

                {% if cours[0][2]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[0][1] ~ ";" ~ tab[0][2] ~ ";" ~  noAnn}};11;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[0][2]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[0][2]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[0][3]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[0][1] ~ ";" ~ tab[0][2] ~ ";" ~  noAnn}};12;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[0][3]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[0][3]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[0][4]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[0][1] ~ ";" ~ tab[0][2] ~ ";" ~  noAnn}};13;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[0][4]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[0][4]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[0][5]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[0][1] ~ ";" ~ tab[0][2] ~ ";" ~  noAnn}};14;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[0][5]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[0][5]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[0][6]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[0][1] ~ ";" ~ tab[0][2] ~ ";" ~  noAnn}};15;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[0][6]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[0][6]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[0][7]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[0][1] ~ ";" ~ tab[0][2] ~ ";" ~  noAnn}};16;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[0][7]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[0][7]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[0][8]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[0][1] ~ ";" ~ tab[0][2] ~ ";" ~  noAnn}};17;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[0][8]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[0][8]['intervenant']}}
                    </div>
                </div>
            </td>
        </tr>

        <tr class="column2">
            <th>{{tab[1][0] ~ " " ~ tab[1][1] ~ " " ~ tab[1][2]}}</th>
            <td>
                {% if cours[1][0]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[1][1] ~ ";" ~ tab[1][2] ~ ";" ~  noAnn}};9;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[1][0]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[1][0]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[1][1]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[1][1] ~ ";" ~ tab[1][2] ~ ";" ~  noAnn}};10;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[1][1]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[1][1]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[1][2]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[1][1] ~ ";" ~ tab[1][2] ~ ";" ~  noAnn}};11;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[1][2]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[1][2]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[1][3]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[1][1] ~ ";" ~ tab[1][2] ~ ";" ~  noAnn}};12;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[1][3]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[1][3]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[1][4]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[1][1] ~ ";" ~ tab[1][2] ~ ";" ~  noAnn}};13;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[1][4]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[1][4]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[1][5]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[1][1] ~ ";" ~ tab[1][2] ~ ";" ~  noAnn}};14;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[1][5]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[1][5]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[1][6]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[1][1] ~ ";" ~ tab[1][2] ~ ";" ~  noAnn}};15;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[1][6]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[1][6]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[1][7]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[1][1] ~ ";" ~ tab[1][2] ~ ";" ~  noAnn}};16;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[1][7]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[1][7]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[1][8]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[1][1] ~ ";" ~ tab[1][2] ~ ";" ~  noAnn}};17;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[1][8]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[1][8]['intervenant']}}
                    </div>
                </div>
            </td>
        </tr>

        <tr class="column1">
            <th>{{tab[2][0] ~ " " ~ tab[2][1] ~ " " ~ tab[2][2]}}</th>
            <td>
                {% if cours[2][0]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[2][1] ~ ";" ~ tab[2][2] ~ ";" ~  noAnn}};9;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[2][0]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[2][0]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[2][1]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[2][1] ~ ";" ~ tab[2][2] ~ ";" ~  noAnn}};10;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[2][1]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[2][1]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[2][2]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[2][1] ~ ";" ~ tab[2][2] ~ ";" ~  noAnn}};11;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[2][2]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[2][2]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[2][3]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[2][1] ~ ";" ~ tab[2][2] ~ ";" ~  noAnn}};12;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[2][3]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[2][3]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[2][4]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[2][1] ~ ";" ~ tab[2][2] ~ ";" ~  noAnn}};13;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[2][4]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[2][4]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[2][5]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[2][1] ~ ";" ~ tab[2][2] ~ ";" ~  noAnn}};14;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[2][5]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[2][5]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[2][6]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[2][1] ~ ";" ~ tab[2][2] ~ ";" ~  noAnn}};15;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[2][6]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[2][6]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[2][7]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[2][1] ~ ";" ~ tab[2][2] ~ ";" ~  noAnn}};16;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[2][7]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[2][7]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[2][8]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[2][1] ~ ";" ~ tab[2][2] ~ ";" ~  noAnn}};17;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[2][8]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[2][8]['intervenant']}}
                    </div>
                </div>
            </td>
        </tr>

        <tr class="column2">
            <th>{{tab[3][0] ~ " " ~ tab[3][1] ~ " " ~ tab[3][2]}}</th>
            <td>
                {% if cours[3][0]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[3][1] ~ ";" ~ tab[3][2] ~ ";" ~  noAnn}};9;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[3][0]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[3][0]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[3][1]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[3][1] ~ ";" ~ tab[3][2] ~ ";" ~  noAnn}};10;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[3][1]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[3][1]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[3][2]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[3][1] ~ ";" ~ tab[3][2] ~ ";" ~  noAnn}};11;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[3][2]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[3][2]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[3][3]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[3][1] ~ ";" ~ tab[3][2] ~ ";" ~  noAnn}};12;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[3][3]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[3][3]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[3][4]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[3][1] ~ ";" ~ tab[3][2] ~ ";" ~  noAnn}};13;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[3][4]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[3][4]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[3][5]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[3][1] ~ ";" ~ tab[3][2] ~ ";" ~  noAnn}};14;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[3][5]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[3][5]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[3][6]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[3][1] ~ ";" ~ tab[3][2] ~ ";" ~  noAnn}};15;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[3][6]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[3][6]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[3][7]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[3][1] ~ ";" ~ tab[3][2] ~ ";" ~  noAnn}};16;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[3][7]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[3][7]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[3][8]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[3][1] ~ ";" ~ tab[3][2] ~ ";" ~  noAnn}};17;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[3][8]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[3][8]['intervenant']}}
                    </div>
                </div>
            </td>
        </tr>

        <tr class="column1">
            <th>{{tab[4][0] ~ " " ~ tab[4][1] ~ " " ~ tab[4][2]}}</th>
            <td>
                {% if cours[4][0]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[4][1] ~ ";" ~ tab[4][2] ~ ";" ~  noAnn}};9;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[4][0]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[4][0]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[4][1]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[4][1] ~ ";" ~ tab[4][2] ~ ";" ~  noAnn}};10;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[4][1]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[4][1]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[4][2]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[4][1] ~ ";" ~ tab[4][2] ~ ";" ~  noAnn}};11;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[4][2]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[4][2]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[4][3]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[4][1] ~ ";" ~ tab[4][2] ~ ";" ~  noAnn}};12;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[4][3]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[4][3]['intervenant']}}
                    </div>
                </div>
            </td>
            <td>
                {% if cours[4][4]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[4][1] ~ ";" ~ tab[4][2] ~ ";" ~  noAnn}};13;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[4][4]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[4][4]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[4][5]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[4][1] ~ ";" ~ tab[4][2] ~ ";" ~  noAnn}};14;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[4][5]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {{ cours[4][5]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[4][6]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[4][1] ~ ";" ~ tab[4][2] ~ ";" ~  noAnn}};15;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[4][6]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[4][6]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[4][7]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[4][1] ~ ";" ~ tab[4][2] ~ ";" ~  noAnn}};16;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[4][7]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[4][7]['intervenant']}}
                    </div>
                </div>
            </td><td>
                {% if cours[4][8]['intitule'] != " " %}
                    <button class="red modalTrigger" type="button" data-toggle="modal" data-target="#myModal"
                            data-myvalue="{{ tab[4][1] ~ ";" ~ tab[4][2] ~ ";" ~  noAnn}};17;{{ noSem }}">
                        <i class="material-icons" style="color: red; font-size: 19px">
                            cancel
                        </i>
                    </button>
                {% endif %}
                <div class="down">
                    {{cours[4][8]['intitule']}}
                </div>

                <div class="up">
                    <div class="professor">
                        {{ cours[4][8]['intervenant']}}
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>

<script>
    $('.modalTrigger').on('click', function (e) {
        e.preventDefault();
        const url= $(this).attr('data-target');
        var myModalValue = $(this).attr('data-myvalue');
        $.get(url, function (data) {
            $('#modal-myvalue').html(myModalValue);
            $('#myModal').modal.show();
        })
    });
</script>

{% endblock %}
