{% extends 'base.html.twig' %}

{% block title %}Planning semaine{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    html {
        font-family: sans-serif;
    }
    table {
        border-collapse: collapse;
        letter-spacing: 1px;
        font-size: 0.8rem;
        background: white;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    td, th {
        padding: 10px 20px;
    }
    td {
        text-align: center;
    }
    caption {
        padding: 10px;
    }

</style>

<div id="corps">
    <div id="containerNavCalendar">

        <button class="buttonNav arrowNav" onclick="document.location.href='/week/{{ noAnn }}/{{ noSem - 1}}';">
            <i class="material-icons">
                undo
            </i>
            <div>
                &nbsp;Précédent
            </div>
        </button>
        <div id="choice">
            <button class="buttonNav" onclick="document.location.href='/week/'">Semaine</button>
            <button class="buttonNav" onclick="document.location.href='/month/'">Mois</button>
            <button class="buttonNav">Année</button>
        </div>

        <button class="buttonNav arrowNav" onclick="document.location.href='/week/{{ noAnn }}/{{ noSem + 1}}';">
            <div>
                Suivant &nbsp;
            </div>
            <i class="material-icons">
                redo
            </i>
        </button>
    </div>


    <table class="table">
        <tr class="hourColumn">
            <th>{{noAnn}}</th>
            <td class="hour">
                <div>9h - 10h</div>
            </td>
            <td class="hour">
                <div>10h - 11h</div>
            </td>
            <td class="hour">
                <div>11h - 12h</div>
            </td>
            <td class="hour">
                <div>12h - 13h</div>
            </td>
            <td class="hour">
                <div>13h - 14h</div>
            </td>
            <td class="hour">
                <div>14h - 15h</div>
            </td>
            <td class="hour">
                <div>15h - 16h</div>
            </td>
            <td class="hour">
                <div>16h - 17h</div>
            </td>
            <td class="hour">
                <div>17h - 18h</div>
            </td>
        </tr>
        <tr class="column1">
            <th>{{tab[0][0] ~ " " ~ tab[0][1] ~ " " ~ tab[0][2]}}</th>
            <td>
                <div class="down">
                    {{compteur[0][0]['intitule']}}
                </div>
                <div class="up">
                    <div class="professor">
                        {#compteur[0].nom ~ " " ~ compteur[0].prenom #}
                    </div>
                    <!--<div class="salle">
                        C207
                    </div>-->
                </div>
            </td>
            <td>
                <div class="down">
                    {{compteur[0][1]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td>
            <td>
                <div class="down">
                    {{compteur[0][2]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Belkacem
                    </div>
                    <div class="salle">
                        E122
                    </div>
                </div>-->
            </td>
            <td>
                <div class="down">
                    {{compteur[0][3]['intitule']}}
                </div>
               <!-- <div class="up">
                    <div class="professor">
                        Belkacem
                    </div>
                    <div class="salle">
                        E122
                    </div>
                </div>-->
            </td>
            <td> {{compteur[0][4]['intitule']}}</td>
            <td> {{compteur[0][5]['intitule']}}</td>
            <td> {{compteur[0][6]['intitule']}}</td>
            <td> {{compteur[0][7]['intitule']}}</td>
            <td> {{compteur[0][8]['intitule']}}</td>
        </tr>

        <tr class="column2">
            <th>{{tab[1][0]~ " " ~ tab[1][1] ~ " " ~ tab[1][2]}}</th>
            <td>
                <div class="down">
                    {{compteur[1][0]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[1][1]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[1][2]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[1][3]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[1][4]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[1][5]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[1][6]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[1][7]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[1][8]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td>
        </tr>

        <tr class="column1">
            <th>{{tab[2][0]~ " " ~ tab[2][1] ~ " " ~ tab[2][2]}}</th>
            <td>
                <div class="down">
                    {{compteur[2][0]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[2][1]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[2][2]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[2][3]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[2][4]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[2][5]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[2][6]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[2][7]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[2][8]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td>
        </tr>

        <tr class="column2">
            <th>{{tab[3][0]~ " " ~ tab[3][1] ~ " " ~ tab[3][2]}}</th>
            <td>
                <div class="down">
                    {{compteur[3][0]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[3][1]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[3][2]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[3][3]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[3][4]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[3][5]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[3][6]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[3][7]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[3][8]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td>
        </tr>

        <tr class="column1">
            <th>{{tab[4][0]~ " " ~ tab[4][1] ~ " " ~ tab[4][2]}}</th>
            <td>
                <div class="down">
                    {{compteur[4][0]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[4][1]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[4][2]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[4][3]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[4][4]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[4][5]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[4][6]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[4][7]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td> <td>
                <div class="down">
                    {{compteur[4][8]['intitule']}}
                </div>
                <!--<div class="up">
                    <div class="professor">
                        Cezera
                    </div>
                    <div class="salle">
                        C207
                    </div>
                </div>-->
            </td>
        </tr>

    </table>
</div>
{% endblock %}
