{% extends 'base.html.twig' %}

{% block title %}Planning Année{% endblock %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        html {
            font-family: sans-serif;
        }
        table {
            border-collapse: collapse;
            letter-spacing: 1px;
            font-size: 0.8rem;
            background: white;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }
        td, th {
            padding: 10px 20px;
        }
        td {
            text-align: center;
        }
        caption {
            padding: 10px;
        }

    </style>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popUpDelete">
        POP UP
    </button>

    <!-- PopUp -->
    <div class="modal fade" id="popUpDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Supprimer "..."</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer ce cours ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary">Oui, Supprimer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End PopUp -->


    <div id="corps">
        <div id="containerNavCalendar">

            <button class="buttonNav arrowNav" onclick="document.location.href='/year/{{ noann -1 }}';">
                <i class="material-icons">
                    undo
                </i>
                <div>
                    &nbsp;Précédent
                </div>
            </button>
            <div id="choice">
                <nav class="nav nav-pills nav-fill">
                    <a class="nav-item nav-link" onclick="document.location.href='/week/'">Semaine</a>
                    <a class="nav-item nav-link" onclick="document.location.href='/month/'">Mois</a>
                    <a class="nav-item nav-link active" onclick="document.location.href='/year/'">Année</a>
                </nav>
            </div>

            <button class="buttonNav arrowNav" onclick="document.location.href='/year/{{ noann +1 }}';">
                <div>
                    Suivant &nbsp;
                </div>
                <i class="material-icons">
                    redo
                </i>
            </button>
        </div>


        <table class="table">
            <!-- <tr class="hourColumn">
                <th>2019</th>
                {% for i in 0..31 %}
                    <td class="hour days">
                        <div>{{ i }}</div>
                    </td>
                {% endfor %}
            </tr> -->

            <tr class="column1">
                <th class="month">Janvier</th>
                {% for i in 1..31 %}
                    {%if tabCours[0][i-1][0] == "Sam" or tabCours[0][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                        {% if  tabCours[0][i-1][1] != " "%}
                        {%if tabCours[0][i-1][1] == "ENTREPRISE"%}
                            <div class="enterpriseNumber">{{ i }}</div>
                        {%  else %}
                            <div class="schoolNumber">{{ i }}</div>
                        {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                    {%  endif %}
                    <b>&nbsp;{{ tabCours[0][i-1][0] }}</b>
                </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Février</th>
                {% if bisex == 1 %}
                    {% for i in 1..29 %}
                        {%if tabCours[1][i-1][0] == "Sam" or tabCours[1][i-1][0] == "Dim" %}
                            <td class="weekend intitule">
                            <div>{{ i }}</div>
                        {%  else %}
                            <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[1][i-1][1] != " "%}
                                {%if tabCours[1][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                        {%  endif %}
                            <b>&nbsp;{{ tabCours[1][i-1][0] }}</b>
                        </td>
                    {% endfor %}
                {% else %}
                    {% for i in 1..28 %}
                        {%if tabCours[1][i-1][0] == "Sam" or tabCours[1][i-1][0] == "Dim" %}
                            <td class="weekend intitule">
                            <div>{{ i }}</div>
                        {%  else %}
                            <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                                {% if  tabCours[1][i-1][1] != " "%}
                                    {%if tabCours[1][i-1][1] == "ENTREPRISE"%}
                                        <div class="enterpriseNumber">{{ i }}</div>
                                    {%  else %}
                                        <div class="schoolNumber">{{ i }}</div>
                                    {%  endif %}
                                {% else %}
                                    <div>{{ i }}</div>
                                {% endif %}
                                {%  endif %}

                            <b>&nbsp;{{ tabCours[1][i-1][0] }}</b>
                        </td>
                    {% endfor %}
                    <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
                {% endif %}
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
            </tr>
            <tr class="column1">
                <th class="month">Mars</th>
                {% for i in 1..31 %}
                    {%if tabCours[2][i-1][0] == "Sam" or tabCours[2][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[2][i-1][1] != " "%}
                                {%if tabCours[2][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}

                        <b>&nbsp;{{ tabCours[2][i-1][0] }}</b>
                    </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Avril</th>
                {% for i in 1..30 %}
                    {%if tabCours[3][i-1][0] == "Sam" or tabCours[3][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[3][i-1][1] != " "%}
                                {%if tabCours[3][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}

                        <b>&nbsp;{{ tabCours[3][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[3][i-1][1]}}</div>
                    </td>
                {% endfor %}
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
            </tr>
            <tr class="column1">
                <th class="month">Mai</th>
                {% for i in 1..31 %}
                    {%if tabCours[4][i-1][0] == "Sam" or tabCours[4][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[4][i-1][1] != " "%}
                                {%if tabCours[4][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}

                        <b>&nbsp;{{ tabCours[4][i-1][0] }}</b>
                    </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Juin</th>
                {% for i in 1..30 %}
                    {%if tabCours[5][i-1][0] == "Sam" or tabCours[5][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[5][i-1][1] != " "%}
                                {%if tabCours[5][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}

                        <b>&nbsp;{{ tabCours[5][i-1][0] }}</b>
                    </td>
                {% endfor %}
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
            </tr>
            <tr class="column1">
                <th class="month">Juillet</th>
                {% for i in 1..31 %}
                    {%if tabCours[6][i-1][0] == "Sam" or tabCours[6][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[6][i-1][1] != " "%}
                                {%if tabCours[6][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}

                        <b>&nbsp;{{ tabCours[6][i-1][0] }}</b>
                    </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Aout</th>
                {% for i in 1..31 %}
                    {%if tabCours[7][i-1][0] == "Sam" or tabCours[7][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[7][i-1][1] != " "%}
                                {%if tabCours[7][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}

                        <b>&nbsp;{{ tabCours[7][i-1][0] }}</b>
                    </td>
                {% endfor %}
            </tr>
            <tr class="column1">
                <th class="month">Septembre</th>
                {% for i in 1..30 %}
                    {%if tabCours[8][i-1][0] == "Sam" or tabCours[8][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[8][i-1][1] != " "%}
                                {%if tabCours[8][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}

                        <b>&nbsp;{{ tabCours[8][i-1][0] }}</b>
                    </td>
                {% endfor %}
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
            </tr>
            <tr class="column2">
                <th class="month">Octobre</th>
                {% for i in 1..31 %}
                    {%if tabCours[9][i-1][0] == "Sam" or tabCours[9][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[9][i-1][1] != " "%}
                                {%if tabCours[9][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}

                        <b>&nbsp;{{ tabCours[9][i-1][0] }}</b>
                    </td>
                {% endfor %}
            </tr>
            <tr class="column1">
                <th class="month">Novembre</th>
                {% for i in 1..30 %}
                    {%if tabCours[10][i-1][0] == "Sam" or tabCours[10][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[10][i-1][1] != " "%}
                                {%if tabCours[10][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}

                        <b>&nbsp;{{ tabCours[10][i-1][0] }}</b>
                    </td>
                {% endfor %}
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
            </tr>
            <tr class="column2">
                <th class="month">Decembre</th>
                {% for i in 1..31 %}
                    {%if tabCours[11][i-1][0] == "Sam" or tabCours[11][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[11][i-1][1] != " "%}
                                {%if tabCours[11][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}

                        <b>&nbsp;{{ tabCours[11][i-1][0] }}</b>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>

    <script>
        $('td').on('dblclick', function() {
            $('#popUpDelete').modal('show');
        });
    </script>
{% endblock %}
