{% extends 'base.html.twig' %}

{% block title %}Planning Année{% endblock %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        html {
            font-family: sans-serif;
        }
        table {
            border-collapse: collapse;
            letter-spacing: 1px;
            font-size: 0.8rem;
            background: white;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }
        td, th {
            padding: 10px 20px;
        }
        td {
            text-align: center;
        }
        caption {
            padding: 10px;
        }

    </style>

    <div id="corps">
        <div id="containerNavCalendar">

            <button class="buttonNav arrowNav" onclick="document.location.href='/year/{{ noann -1 }}';">
                <i class="material-icons">
                    undo
                </i>
                <div>
                    &nbsp;Précédent
                </div>
            </button>
            <div id="choice">
                <nav class="nav nav-pills nav-fill">
                    <a class="nav-item nav-link" onclick="document.location.href='/week/'">Semaine</a>
                    <a class="nav-item nav-link" onclick="document.location.href='/month/'">Mois</a>
                    <a class="nav-item nav-link active" onclick="document.location.href='/year/'">Année</a>
                </nav>
            </div>

            <button class="buttonNav arrowNav" onclick="document.location.href='/year/{{ noann +1 }}';">
                <div>
                    Suivant &nbsp;
                </div>
                <i class="material-icons">
                    redo
                </i>
            </button>
        </div>


        <table class="table">
            <!-- <tr class="hourColumn">
                <th>2019</th>
                {% for i in 0..31 %}
                    <td class="hour days">
                        <div>{{ i }}</div>
                    </td>
                {% endfor %}
            </tr> -->

            <tr class="column1">
                <th class="month">Janvier</th>
                {% for i in 1..31 %}
                    <td class="intitule">
                        <div class="schoolNumber">{{ i }}</div>
                        <b>&nbsp;{{ tabCours[0][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[0][i-1][1]}}</div>
                    </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Février</th>
                {% if bisex == 1 %}
                    {% for i in 1..29 %}
                        <td class="intitule">
                            <div class="schoolNumber">{{ i }}</div>
                            <b>&nbsp;{{ tabCours[1][i-1][0] }}</b>
                            <div class="matiereCat">{{tabCours[1][i-1][1]}}</div>
                        </td>
                    {% endfor %}
                {% else %}
                    {% for i in 1..28 %}
                        <td class="intitule">
                            <div class="schoolNumber">{{ i }}</div>
                            <b>&nbsp;{{ tabCours[1][i-1][0] }}</b>
                            <div class="matiereCat">{{tabCours[1][i-1][1]}}</div>
                        </td>
                    {% endfor %}
                    <td class="intitule"></td>
                {% endif %}
                <td class="intitule"></td>
                <td class="intitule"></td>
            </tr>
            <tr class="column1">
                <th class="month">Mars</th>
                {% for i in 1..31 %}
                    <td class="intitule">
                        <div class="schoolNumber">{{ i }}</div>
                        <b>&nbsp;{{ tabCours[2][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[2][i-1][1]}}</div>
                    </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Avril</th>
                {% for i in 1..30 %}
                    <td class="intitule">
                        <div class="schoolNumber">{{ i }}</div>
                        <b>&nbsp;{{ tabCours[3][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[3][i-1][1]}}</div>
                    </td>
                {% endfor %}
                <td class="intitule"></td>
            </tr>
            <tr class="column1">
                <th class="month">Mai</th>
                {% for i in 1..31 %}
                    <td class="intitule">
                        <div class="enterpriseNumber">{{ i }}</div>
                        <b>&nbsp;{{ tabCours[4][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[4][i-1][1]}}</div>
                    </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Juin</th>
                {% for i in 1..30 %}
                    <td class="intitule">
                        <div class="enterpriseNumber">{{ i }}</div>
                        <b>&nbsp;{{ tabCours[5][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[5][i-1][1]}}</div>
                    </td>
                {% endfor %}
                <td class="intitule"></td>
            </tr>
            <tr class="column1">
                <th class="month">Juillet</th>
                {% for i in 1..31 %}
                    <td class="intitule">
                        <div class="schoolNumber">{{ i }}</div>
                        <b>&nbsp;{{ tabCours[6][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[6][i-1][1]}}</div>
                    </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Aout</th>
                {% for i in 1..31 %}
                    <td class="intitule">
                        <div class="schoolNumber">{{ i }}</div>
                        <b>&nbsp;{{ tabCours[7][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[7][i-1][1]}}</div>
                    </td>
                {% endfor %}
            </tr>
            <tr class="column1">
                <th class="month">Septembre</th>
                {% for i in 1..30 %}
                    <td class="intitule">

                        <div class="schoolNumber">{{ i }}</div>
                        <b>&nbsp;{{ tabCours[8][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[8][i-1][1]}}</div>
                    </td>
                {% endfor %}
                <td class="intitule"></td>
            </tr>
            <tr class="column2">
                <th class="month">Octobre</th>
                {% for i in 1..31 %}
                    <td class="intitule">
                        <div class="enterpriseNumber">{{ i }}</div>
                        <b>&nbsp;{{ tabCours[9][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[9][i-1][1]}}</div>
                    </td>
                {% endfor %}
            </tr>
            <tr class="column1">
                <th class="month">Novembre</th>
                {% for i in 1..30 %}
                    <td class="intitule">
                        <div class="enterpriseNumber">{{ i }}</div>
                        <b>&nbsp;{{ tabCours[10][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[10][i-1][1]}}</div>
                    </td>
                {% endfor %}
                <td class="intitule"></td>
            </tr>
            <tr class="column2">
                <th class="month">Decembre</th>
                {% for i in 1..31 %}
                    <td class="intitule">
                        <div class="schoolNumber">{{ i }}</div>
                        <b>&nbsp;{{ tabCours[11][i-1][0] }}</b>
                        <div class="matiereCat">{{tabCours[11][i-1][1]}}</div>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}
