{% extends 'base.html.twig' %}

{% block title %}Planning Année{% endblock %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        html {
            font-family: sans-serif;
        }
        table {
            border-collapse: collapse;
            letter-spacing: 1px;
            font-size: 0.8rem;
            background: white;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }
        td, th {
            padding: 10px 20px;
        }
        td {
            text-align: center;
        }
        caption {
            padding: 10px;
        }

    </style>


    <!-- Button trigger modal
    <button class="modalTrigger" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-myvalue="davide et laulau">
        davide et laulau
    </button>

    <button class="modalTrigger" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-myvalue="davide et agathe">
        davide et agathe
    </button>

    <td class="modalTrigger" type="button" class="btn btn-primary btn-lg" data-toggle="test" data-target="#myModal" data-myvalue="davide et agathe">
        ossecour
    </td>
    -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Suppression du cours</h4>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous supprimer ce cours ?</p>
                    <span id="modal-myvalue" style="color: #fff; font-size: 0px"></span> <span id="modal-myvar" style="color: #fff"></span> <span id="modal-bb" style="color: #fff"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" onclick="document.location.href='/deleteYear/'+ document.getElementById('modal-myvalue').textContent;">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    <div id="corps">
        <div id="containerNavCalendar">

            <button class="buttonNav arrowNav" onclick="document.location.href='/year/{{ noann -1 }}';">
                <i class="material-icons">
                    undo
                </i>
                <div>
                    &nbsp;Précédent
                </div>
            </button>
            <div id="choice">
                <nav class="nav nav-pills nav-fill">
                    <a class="nav-item nav-link" onclick="document.location.href='/week/'">Semaine</a>
                    <a class="nav-item nav-link" onclick="document.location.href='/month/'">Mois</a>
                    <a class="nav-item nav-link active" onclick="document.location.href='/year/'">Année</a>
                </nav>
            </div>

            <button class="buttonNav arrowNav" onclick="document.location.href='/year/{{ noann +1 }}';">
                <div>
                    Suivant &nbsp;
                </div>
                <i class="material-icons">
                    redo
                </i>
            </button>
        </div>


        <table class="table">
            <!-- <tr class="hourColumn">
                <th>2019</th>
                {% for i in 0..31 %}
                    <td class="hour days">
                        <div>{{ i }}</div>
                    </td>
                {% endfor %}
            </tr> -->

            <tr class="column1">
                <th class="month">Janvier</th>
                {% for i in 1..31 %}
                    {%if tabCours[0][i-1][0] == "Sam" or tabCours[0][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                        {% if tabCours[0][i-1][1] != " "%}
                        {% if tabCours[0][i-1][1] == "ENTREPRISE"%}
                            <div class="enterpriseNumber">{{ i }}</div>
                        {%  else %}
                            <div class="schoolNumber">{{ i }}</div>
                        {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                    {%  endif %}
                    <b>&nbsp;{{ tabCours[0][i-1][0] }}</b>
                    {%if tabCours[0][i-1][0] != "Sam" and tabCours[0][i-1][0] != "Dim" %}
                        {% if tabCours[0][i-1][1] != " "%}
                        <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};01;{{ noann }}">

                        </button>
                        {%  endif %}
                    {%  endif %}
                </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Février</th>
                {% if bisex == 1 %}
                    {% for i in 1..29 %}
                        {%if tabCours[1][i-1][0] == "Sam" or tabCours[1][i-1][0] == "Dim" %}
                            <td class="weekend intitule">
                            <div>{{ i }}</div>
                        {%  else %}
                            <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[1][i-1][1] != " "%}
                                {%if tabCours[1][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                        {%  endif %}
                            <b>&nbsp;{{ tabCours[1][i-1][0] }}</b>
                        {%if tabCours[1][i-1][0] != "Sam" and tabCours[1][i-1][0] != "Dim" %}
                            {%if tabCours[1][i-1][1] != " " %}
                                <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                                </button>
                            {%  endif %}
                        {%  endif %}
                        </td>
                    {% endfor %}
                {% else %}
                    {% for i in 1..28 %}
                        {%if tabCours[1][i-1][0] == "Sam" or tabCours[1][i-1][0] == "Dim" %}
                            <td class="weekend intitule">
                            <div>{{ i }}</div>
                        {%  else %}
                            <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                                {% if  tabCours[1][i-1][1] != " "%}
                                    {%if tabCours[1][i-1][1] == "ENTREPRISE"%}
                                        <div class="enterpriseNumber">{{ i }}</div>
                                    {%  else %}
                                        <div class="schoolNumber">{{ i }}</div>
                                    {%  endif %}
                                {% else %}
                                    <div>{{ i }}</div>
                                {% endif %}
                                {%  endif %}
                            <b>&nbsp;{{ tabCours[1][i-1][0] }}</b>
                        {%if tabCours[1][i-1][0] != "Sam" and tabCours[1][i-1][0] != "Dim" %}
                            {%if tabCours[1][i-1][1] != " " %}
                                <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                                </button>
                            {%  endif %}
                        {%  endif %}
                        </td>
                    {% endfor %}
                    <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
                {% endif %}
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
            </tr>
            <tr class="column1">
                <th class="month">Mars</th>
                {% for i in 1..31 %}
                    {%if tabCours[2][i-1][0] == "Sam" or tabCours[2][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[2][i-1][1] != " "%}
                                {%if tabCours[2][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}
                        <b>&nbsp;{{ tabCours[2][i-1][0] }}</b>
                    {%if tabCours[2][i-1][0] != "Sam" and tabCours[2][i-1][0] != "Dim" %}
                        {%if tabCours[2][i-1][1] != " " %}
                            <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                            </button>
                        {%  endif %}
                    {%  endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Avril</th>
                {% for i in 1..30 %}
                    {%if tabCours[3][i-1][0] == "Sam" or tabCours[3][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[3][i-1][1] != " "%}
                                {%if tabCours[3][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}
                        <b>&nbsp;{{ tabCours[3][i-1][0] }}</b>
                    {%if tabCours[3][i-1][0] != "Sam" and tabCours[3][i-1][0] != "Dim" %}
                        {%if tabCours[3][i-1][1] != " " %}
                            <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                            </button>
                        {%  endif %}
                    {%  endif %}
                        <div class="matiereCat">{{tabCours[3][i-1][1]}}</div>
                    </td>
                {% endfor %}
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
            </tr>
            <tr class="column1">
                <th class="month">Mai</th>
                {% for i in 1..31 %}
                    {%if tabCours[4][i-1][0] == "Sam" or tabCours[4][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[4][i-1][1] != " "%}
                                {%if tabCours[4][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}
                        <b>&nbsp;{{ tabCours[4][i-1][0] }}</b>
                    {%if tabCours[4][i-1][0] != "Sam" and tabCours[4][i-1][0] != "Dim" %}
                        {%if tabCours[4][i-1][1] != " " %}
                            <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                            </button>
                        {%  endif %}
                    {%  endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Juin</th>
                {% for i in 1..30 %}
                    {%if tabCours[5][i-1][0] == "Sam" or tabCours[5][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[5][i-1][1] != " "%}
                                {%if tabCours[5][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}
                        <b>&nbsp;{{ tabCours[5][i-1][0] }}</b>
                    {%if tabCours[5][i-1][0] != "Sam" and tabCours[5][i-1][0] != "Dim" %}
                        {%if tabCours[5][i-1][1] != " " %}
                            <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                            </button>
                        {%  endif %}
                    {%  endif %}
                    </td>
                {% endfor %}
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
            </tr>
            <tr class="column1">
                <th class="month">Juillet</th>
                {% for i in 1..31 %}
                    {%if tabCours[6][i-1][0] == "Sam" or tabCours[6][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[6][i-1][1] != " "%}
                                {%if tabCours[6][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}
                        <b>&nbsp;{{ tabCours[6][i-1][0] }}</b>
                    {%if tabCours[6][i-1][0] != "Sam" and tabCours[6][i-1][0] != "Dim" %}
                        {%if tabCours[6][i-1][1] != " " %}
                            <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                            </button>
                        {%  endif %}
                    {%  endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="column2">
                <th class="month">Aout</th>
                {% for i in 1..31 %}
                    {%if tabCours[7][i-1][0] == "Sam" or tabCours[7][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[7][i-1][1] != " "%}
                                {%if tabCours[7][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}
                        <b>&nbsp;{{ tabCours[7][i-1][0] }}</b>
                    {%if tabCours[7][i-1][0] != "Sam" and tabCours[7][i-1][0] != "Dim" %}
                        {%if tabCours[7][i-1][1] != " " %}
                            <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                            </button>
                        {%  endif %}
                    {%  endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="column1">
                <th class="month">Septembre</th>
                {% for i in 1..30 %}
                    {%if tabCours[8][i-1][0] == "Sam" or tabCours[8][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[8][i-1][1] != " "%}
                                {%if tabCours[8][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}
                        <b>&nbsp;{{ tabCours[8][i-1][0] }}</b>
                    {%if tabCours[8][i-1][0] != "Sam" and tabCours[8][i-1][0] != "Dim" %}
                        {%if tabCours[8][i-1][1] != " " %}
                            <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                            </button>
                        {%  endif %}
                    {%  endif %}
                    </td>
                {% endfor %}
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
            </tr>
            <tr class="column2">
                <th class="month">Octobre</th>
                {% for i in 1..31 %}
                    {%if tabCours[9][i-1][0] == "Sam" or tabCours[9][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[9][i-1][1] != " "%}
                                {%if tabCours[9][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}
                        <b>&nbsp;{{ tabCours[9][i-1][0] }}</b>
                    {%if tabCours[9][i-1][0] != "Sam" and tabCours[9][i-1][0] != "Dim" %}
                        {%if tabCours[9][i-1][1] != " " %}
                            <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                            </button>
                        {%  endif %}
                    {%  endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="column1">
                <th class="month">Novembre</th>
                {% for i in 1..30 %}
                    {%if tabCours[10][i-1][0] == "Sam" or tabCours[10][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[10][i-1][1] != " "%}
                                {%if tabCours[10][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}
                        <b>&nbsp;{{ tabCours[10][i-1][0] }}</b>
                    {%if tabCours[10][i-1][0] != "Sam" and tabCours[10][i-1][0] != "Dim" %}
                        {%if tabCours[10][i-1][1] != " " %}
                            <button class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                            </button>
                        {%  endif %}
                    {%  endif %}
                    </td>
                {% endfor %}
                <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete"></td>
            </tr>
            <tr class="column2">
                <th class="month">Decembre</th>
                {% for i in 1..31 %}
                    {%if tabCours[11][i-1][0] == "Sam" or tabCours[11][i-1][0] == "Dim" %}
                        <td class="weekend intitule">
                        <div>{{ i }}</div>
                    {%  else %}
                        <td class="intitule daySemaine" data-toggle="modal" data-target="#popUpDelete">
                            {% if  tabCours[11][i-1][1] != " "%}
                                {%if tabCours[11][i-1][1] == "ENTREPRISE"%}
                                    <div class="enterpriseNumber">{{ i }}</div>
                                {%  else %}
                                    <div class="schoolNumber">{{ i }}</div>
                                {%  endif %}
                            {% else %}
                                <div>{{ i }}</div>
                            {% endif %}
                            {%  endif %}
                        <b>&nbsp;{{ tabCours[11][i-1][0] }}</b>
                    {%if tabCours[11][i-1][0] != "Sam" and tabCours[11][i-1][0] != "Dim" %}
                        {%if tabCours[11][i-1][1] != " " %}
                            <button class="modalTrigger" class="modalTrigger" type="button" data-toggle="modal" data-target="#myModal" data-myvalue="{{ i }};10;{{ noann }}">

                            </button>
                        {%  endif %}
                    {%  endif %}
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>

    <script>
        $('.modalTrigger').on('click', function (e) {
            e.preventDefault();
            const url= $(this).attr('data-target');
            var myModalValue = $(this).attr('data-myvalue');
            $.get(url, function (data) {
                $('#modal-myvalue').html(myModalValue);
                $('#myModal').modal.show();
            })
        });
    </script>

    <script>
        $('[data-toggle="test"]').on("click", "td", function() {
            alert('clicked');
        });
    </script>

{% endblock %}
